@import "src/assets/css/vars.scss";

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}

.shared-styles {
  margin: 10px;
  padding: 19px 18px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: $shadow-light;
  height: 75vh;
}

.customerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 10px 10px;
  overflow-y: hidden;
  @extend .shared-styles;
}

.cart {
  @extend .shared-styles;
  overflow: scroll;
}

.formWrapper {
  width: 100%;
  max-width: 600px;
  padding: 30px 60px 30px 50px;
  background-color: $white;
  border-radius: 8px;
}
